<?xml version="1.0"?>
<config>
    <modules>
        <Wsu_Taxonomy>
            <version>0.0.1</version>
        </Wsu_Taxonomy>
    </modules>
    <global>
        <blocks>
            <wsu_taxonomy>
                <class>Wsu_Taxonomy_Block</class>
            </wsu_taxonomy>
        </blocks>
        <helpers>
            <wsu_taxonomy>
                <class>Wsu_Taxonomy_Helper</class>
            </wsu_taxonomy>
        </helpers>
        <models>
            <wsu_taxonomy>
                <class>Wsu_Taxonomy_Model</class>
            </wsu_taxonomy>
        </models>
        <!--
		This is an example of a event hook
		<events>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <wsu_taxonomy_admin_predispatch>
                        <class>Wsu_Taxonomy_Model_Adminhtml_Observer</class>
                        <method>setTheme</method>
                    </wsu_taxonomy_admin_predispatch>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>-->
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <wsu_taxonomy before="Mage_Adminhtml">Wsu_Taxonomy_Adminhtml</wsu_taxonomy>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <wsu_taxonomy>
                    <file>wsu/taxonomy.xml</file>
                </wsu_taxonomy>
            </updates>
        </layout>
        <translate>
            <modules>
                <Wsu_Taxonomy>
                    <files>
                        <default>Wsu_Taxonomy.csv</default>
                    </files>
                </Wsu_Taxonomy>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <wsu_taxonomy>
            <config>
                <!--
				Some examples on the config defaults
				<theme>go</theme>
				<showmageads>0</showmageads>
				<logo>logo.gif</logo>-->
            </config>
        </wsu_taxonomy>
    </default>
</config>
