<?xml version="1.0"?>
<config>
    <modules>
        <Wsu_Stub>
            <version>0.0.1</version>
        </Wsu_Stub>
    </modules>
    <global>
        <blocks>
            <wsu_stub>
                <class>Wsu_Stub_Block</class>
            </wsu_stub>
        </blocks>
        <helpers>
            <wsu_stub>
                <class>Wsu_Stub_Helper</class>
            </wsu_stub>
        </helpers>
        <models>
            <wsu_stub>
                <class>Wsu_Stub_Model</class>
            </wsu_stub>
        </models>
        <!--
		This is an example of a event hook
		<events>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <wsu_stub_admin_predispatch>
                        <class>Wsu_Stub_Model_Adminhtml_Observer</class>
                        <method>setTheme</method>
                    </wsu_stub_admin_predispatch>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>-->
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <wsu_stub before="Mage_Adminhtml">Wsu_Stub_Adminhtml</wsu_stub>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <wsu_stub>
                    <file>wsu/stub.xml</file>
                </wsu_stub>
            </updates>
        </layout>
        <translate>
            <modules>
                <Wsu_Stub>
                    <files>
                        <default>Wsu_Stub.csv</default>
                    </files>
                </Wsu_Stub>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <wsu_stub>
            <config>
                <!--
				Some examples on the config defaults
				<theme>go</theme>
				<showmageads>0</showmageads>
				<logo>logo.gif</logo>-->
            </config>
        </wsu_stub>
    </default>
</config>
